/* This is the first CSS style for the main page 
 FSO Course is MIU 1308
 Developer name Wiltre Santiago
 App name is Fruit Tracker*/



/*below list the header setting*/
#header{
	height : 127px;
	width: 301px;
	margin-left: auto ;
  	margin-right: auto ;
	background-color : #BDBFC1;
}


/*Below are the custom icons for JQM*/

.ui-icon-c_news {
	background-image:url(../images/newslrw.png)
	
	}

