@charset "utf-8";
/* 
 Title: additem.html Style
 By: Wiltre Santiago 
 For: MIU Project week 3 
*/


label.error{
	display:block;
	margin-top: 5px;
	color: red;
	
}












