/* below lis the header setting*/
#header{
	height : 127px;
	width: 301px;
	margin-left: auto ;
  	margin-right: auto ;
	background-color : #BDBFC1;
}
	
/*Image for the Search Item area*/
h2 img{
	position:relative;
	margin-right: 10px;
	vertical-align:text-top;
	top: -3px;
	left: 3px;
}

/*Search area Div*/
#search{
	padding-top:5px;
	position:relative;
	top: 10px;
	width: 299px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color : #fce7c0;
	font-family : Arial,sans-serif;
}

/*Search Area Field*/
#searchfield{
	position: relative;
	width: 220;
	top: -30px;
	margin-left: 140px;
}

/*Below are the item fields*/

/*Browse*/
#browse{
	background-color : #f6ba43;
	width: 299px;
	margin-left: auto;
	margin-right: auto;
}
h3 {
	position: relative;
	font-style:oblique;
	top: 15px;
	height: 20px;
	width: 299px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family : Arial,sans-serif;
	font-weight: bold;
	padding-top: 1px;
}

/*Below are the Block of list Items style */
#listItems{
	position: relative;
	background-color: #f6ba43;
	top: 20px;
	width: 299px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
		
}

/*Below is the List items style*/
#listItems ul li{
	position: relative;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 150px;
	height: 30px;
	
	
		
}

#berries, #citrus, #refrigeration, #tropical, #favorites{
	top: 3px;
	bottom: 3px;
	height: 25px;
	width: 299px;
	
	-khtml-border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	background-color : #575756;
	border-radius : 5px;
	color : #ffffff;
	font-family : Arial,sans-serif;
	font-size : 15px;
	font-weight: bold;
	
}
/*<ul>					

					<li><button type="button" id="berries"		label="berries">Berries Group</button></li>

					<li><button type="button" id="citrus" 	label="citrus">Citrus Fruits</button></li>

					<li><button type="button" id="refrigeration" label="refrigeration">Require Refrigeration</button></li>

					<li><button type="button" id="tropical" 		label="tropical">Tropical Fruits</button></li>

					<li><button type="button" id="favorites" 	label="national">Favorite Fruits</button></li>

				</ul>*/
/*
h1{
	padding-top: 2%;
	height : 60px;
	overflow : hidden;
	position : relative;
	top : 10px;
	width : 299px;
	background-color : #BDBFC1;
	border: 1px dotted #666666;
	text-align: center;
	margin-left: auto ;
  	margin-right: auto ;
	font-family : Arial,sans-serif;
	font-size : 20px;
	font-weight:bold;
}

p{
	padding-top: 5%;
	background-color : #BDBFC1;
	height : 80px;
	width : 299px;
	margin-left: auto ;
  	margin-right: auto ;
	text-align: center;
	overflow : hidden;
	position : relative;
	top : 15px;
	color : #575756;
	font-family : Arial,sans-serif;
	font-size : 14px;
	
}
	
#b{
	position:relative;
	top : 25px;
	height: 50px;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
}

#startApp{
	position:inherit;
	height : 50px;
	width : 240px;
	-khtml-border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	background-color : #575756;
	border-radius : 5px;
	color : #ffffff;
	font-family : Arial,sans-serif;
	font-size : 30px;
	
	
}

h2{
	margin: 0 auto;
	text-align: center;
	height : 100px;
	overflow : hidden;
	position : relative;
	top : 50px;
	width : 299px;
	color : #575756;
	font-family : Arial,sans-serif;
	font-size : 14px;
	
}*/
